<link rel="stylesheet" href="/public/css/group-details.css" />

<div id="profileMessage" data-user-id="{{_id}}">
  <div class="container mt-5">
    <h1 class="text-center">Messaging</h1>
    <div class="row mt-4">
      <div class="col-md-4">
        <h2>Conversations</h2>
        <ul class="list-group">
          {{#each conversations}}
            <li
              class="list-group-item"
              onclick="loadConversation('{{this.id}}')"
            >{{this.fullName}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-8">
        <h3>Message</h3>
        <div
          id="messages-container"
          class="messages border p-3"
          style="height: 300px; overflow-y: scroll;"
        >
          {{#each conversations}}
            {{#each messages}}
              <div class="message">
                <p><strong>{{senderFullName}}:</strong> {{message}}</p>
              </div>
            {{/each}}
          {{/each}}
        </div>
        <form id="send-message">
          <label for="messageInput">Message</label>
          <input id="messageInput" type="text" name="messageInput" />
          <select name="connection" id="userConnections">
            {{#each userFullNames}}
              <option value="{{this.id}}">{{this.fullName}}</option>
            {{/each}}
          </select>
          <input type="hidden" name="id" value="{{_id}}" />
          <input type="submit" value="Send" />
        </form>
        <div id="error"></div>
      </div>
    </div>
  </div>
  <p>Want to send messages? You need connections! Please visit the Network
    section to add more connections!</p>
  <div class="text-center mt-3">
    <a href="/network" class="btn btn-primary">Visit the Connection Section</a>
  </div>
  <p class="text-center">
    <a href="/profile/{{_id}}">Back to Profile</a>
  </p>
  <script src="/public/js/messaging.js"></script>
</div>