<link rel="stylesheet" href="../../public/css/group-details.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
/>
<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
></script>
<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
></script>
<div class="profile-container">
  {{#if image}}
    <img
      src="data:image/png;base64,{{image}}"
      alt="Group Image"
      class="profile-picture"
    />
  {{/if}}

  <div class="profile-buttons">
    {{#if isMyProfile}}
      <a href="/profile/{{_id}}/edit" class="btn btn-primary">Edit</a>
      <a href="/profile/{{_id}}/editProfilePic" class="btn btn-primary">Edit
        Profile Picture</a>
      <a href="/profile/{{_id}}/messaging" class="btn btn-primary">
        <i class="fas fa-comments"></i>
        Messaging
      </a>
      <a href="/groups" class="btn btn-primary">Go to Groups</a>
    {{else}}
      <a href="/profile/{{_id}}/connect/" class="btn">Add Friend</a>
      {{connectionMessage}}
    {{/if}}
  </div>
</div>
<p>Name: {{fname}} {{lname}}</p>
<p>Description: {{description}}</p>
<p>Education: {{university}}</p>
<p>College Major: {{collegeMajor}}</p>
<p>Location: {{locationState}}</p>
<p>
<span class="status-oval">{{status}}</span>
</p>
<p>Age: {{age}}</p>
<p>
  Gender:
  <span
    class="gender-oval {{#if gender}}{{gender}}{{else}}unknown{{/if}}-color"
  ></span>
  {{gender}}
</p>{{#if skills}}
  <p>Skills:</p>
  <div style="display: flex; justify-content: center;">
    <div class="skills-container">
      {{#each skills}}
        <div class="skill-tile">{{this}}</div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p>No skills available.</p>
{{/if}}
<p>Job History:</p>
{{#if isMyProfile}}
  <a
    href="/profile/{{_id}}/addJobHistory"
    class="btn btn-sm btn-outline-secondary btn-sky-blue"
  >
    Add Job History
  </a>

  <a
    href="/profile/{{_id}}/updateJobHistory"
    class="btn btn-sm btn-outline-secondary btn-sky-blue"
  >
    Edit Job History
  </a>
{{/if}}

{{#if jobHistory}}
  <div>
    {{#each jobHistory}}
      <div class="job-card">
        {{#if this.logo}}
          <img
            src="data:image/png;base64,{{this.logo}}"
            alt="{{this.organization}} Logo"
            style="width: 50px; height: 50px;"
          />
        {{/if}}
        <strong>Organization: {{this.organization}}</strong><br />
        Title:
        {{this.role}}<br />
        Dates:
        {{this.startDate}}
        -
        {{this.endDate}}<br />
        Description:
        {{this.description}}<br />

      </div>
    {{/each}}
  </div>
{{else}}
  <p>No job history available.</p>
{{/if}}
<h1></h1>
<h2></h2>
<h3></h3>
<h4></h4>
{{#if gitHubUserName}}
  <p>Github profile for {{gitHubUserName}}</p>
  <a href="https://github.com/{{gitHubUserName}}" target="_blank">
    <img
      src="https://github.com/favicon.ico"
      alt="Github logo"
      class="github-logo"
    />
    <div class="github-banner">
      <span>Click me!</span>
    </div>
  </a>
  <div class="calendar">
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() { const
    gitHubUsername = '{{gitHubUserName}}'; GitHubCalendar(".calendar",
    gitHubUsername); GitHubCalendar(".calendar", gitHubUsername, { responsive:
    true }); });
  </script>
{{/if}}
{{#if connections.length}}
  <p>Connections:</p>
  {{#if isMyProfile}}
    <div style="text-align: center;">
      <a href="/network/post/{{_id}}" class="btn btn-primary">My Network</a>
    </div>
  {{/if}}
  <ul>
    {{#each connections}}
      <li><a href="/profile/{{this.id}}">{{this.firstName}}
          {{this.lastName}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No connections available.</p>
{{/if}}