<h1>Group Details</h1>
<div>
  <a href="javascript:history.back();">Back to Search Results</a>
  <h2>{{name}}</h2>
  <h2>{{description}}</h2>
  <h2>{{events}}</h2>

  <img alt="{{name}}" src="{{image}}" />
</div>