<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/static/images/download.png" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href="">Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/network/post/{{id}}">Post</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Follower
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/network/follower/new/{{id}}">Create New Relation</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/network/follower/remove/{{id}}">Remove Your Relation</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Post
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/network/post/new/{{id}}">Add New Post</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/network/post/update/{{id}}">Update Your Post</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/network/post/remove/{{id}}">Remove Your Post</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <img src="https://www.lebow.drexel.edu/sites/default/files/styles/landing_wide/public/legacy/story/1501077931-network.jpg.webp?itok=Fkaq8OgY"
        alt="Network Img" width="100%" height="50%" class="rounded float-start center-block">
</div>