  <link rel="stylesheet" href="/public/css/group-details.css">

<div class="container">
    <h1>Profile:</h1>
    {{#if image}}
        <img src="data:image/png;base64,{{image}}" alt="Group Image" />
      {{/if}}
    <div>
      <a href="/profile/{{_id}}/edit"><button>Edit</button></a>
      <h2>{{name}}</h2>
      <h2>Description: {{description}}</h2>

      

      {{#each activity}}
      <div>{{title}}</div>
      {{/each}}

      
    </div>