<link rel="stylesheet" href="/public/css/group-details.css" />

<div class="container">
  <h1>Group Details</h1>
  <div>
    <a href="/groups/{{_id}}/edit"><button>Edit</button></a>
    <a href="/groups/{{_id}}/join"><button>Join</button></a>

    <h2>Group Name: {{name}}</h2>
    <h2>Group Description: {{description}}</h2>

    {{#if image}}
      <img src="data:image/png;base64,{{image}}" alt="Group Image" />
    {{/if}}
    <div>
      <a href="/groups/{{_id}}/eventAdd"><button>Add Event</button></a>
      <a href="/groups/{{_id}}/eventEdit"><button>Edit Events</button></a>
      <a href="/groups/{{_id}}/postActivity"><button>Post Activity</button></a>

    </div>

    <h2>Upcoming Events:</h2>
    {{#each events}}
      <div class="event-box">
        <div><span class="event-title">Event Title:</span>
          <span class="event-title-text">{{title}}</span></div>
        <div>Event Description:{{description}}</div>
        <div>Event Date:{{eventDate}}</div>
        {{#if image}}
          <img src="data:image/png;base64,{{image}}" alt="Event Image" />
        {{/if}}
      </div>
    {{/each}}

    {{#each activity}}
      <div>{{title}}</div>
    {{/each}}
    <a href="javascript:history.back();">Back to Search Results</a>

  </div>
</div>