<link rel="stylesheet" href="/public/css/group-details.css" />

<div class="container">
  <h1>Group Details</h1>
  <div>
    {{#if isMember}}
      <a class="action-button" href="/groups/{{_id}}/edit">Edit</a>
      <a class="action-button" href="/groups/{{_id}}/eventAdd">Add Event</a>
      <a class="action-button" href="/groups/{{_id}}/eventEdit">Edit Events</a>
      <a class="action-button" href="/groups/{{_id}}/activityAdd">Post Activity</a>
    {{else}}
      <a class="action-button" href="/groups/{{_id}}/join">Join</a>
    {{/if}}

    <h2>Group Name: {{name}}</h2>
    <h2>Group Description: {{description}}</h2>

    {{#if image}}
      <img src="data:image/png;base64,{{image}}" alt="Group Image" />
    {{/if}}

    <div>
      <a href="/groups/{{_id}}/users">
        <p class="oval-text">Number of Users: {{numOfUsers}}</p>
      </a>
    </div>

    <h2>Upcoming Events:</h2>
    {{#each events}}
      <div class="event-box">
        <div><span class="event-title">Event Title:</span>
          <span class="event-title-text">{{title}}</span></div>
        <div>Event Description:{{description}}</div>
        <div>Event Date:{{eventDate}}</div>
        {{#if image}}
          <img src="data:image/png;base64,{{image}}" alt="Event Image" />
        {{/if}}
      </div>
    {{/each}}

    <h2>Group Activity:</h2>

    {{#each activity}}
      <div class="activity-box">
        <div><span class="activity-title">Activity Title:</span><span
            class="activity-title-text"
          >{{title}}</span></div>
        <div><span class="activity-title">Author:</span><span
            class="activity-title-text"
          >{{author}}</span></div>
        <div><span class="activity-title">Message:</span><span
            class="activity-title-text"
          >{{message}}</span></div>
      </div>
    {{/each}}

    <a href="/groups">Back to Groups</a>

  </div>
</div>