
{{!-- {{#*inline "title"}}
  Group Master Page
{{/inline}}
<h1>Groups</h1>
<h3>Would you like to create a new group?</h3>
<a class="action-button" href="/groups/create">Create Group!</a>

<h3>You can check out these existing groups if you like!</h3>

  <ol>
{{#each groups}}
<li><a href="groups/{{this._id}}">{{this.name}}</a></li>
{{/each}}
  </ol>
<a class="search-again" href="/">Back to Home Page</a> --}}

{{!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .small-square {
      width: 85px;
      height: 85px;
      object-fit: cover;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 5px;
    }
  </style>
</head> --}}
    <link rel="stylesheet" href="/public/css/group-details.css" />

{{#*inline "title"}}
  Group Master Page
{{/inline}}
<h1>Groups</h1>
<h3>Would you like to create a new group?</h3>
<a class="action-button btn btn-primary" href="/groups/create">Create Group!</a>

<h3>You can check out these existing groups if you like!</h3>

<div class="container">
  <div class="row">
    {{#each groups}}
    <div class="col-md-4">
      <div class="card mb-4">
<img src="/public/images/download.png" alt="{{this.name}} image" class="card-img-top small-square">
        <div class="card-body">
          <h6 class="card-title">{{this.name}}</h6>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Members: {{this.numOfUsers}}</p>
          <a href="groups/{{this._id}}" class="btn btn-primary">Visit Group</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<a class="search-again btn btn-secondary" href="/">Back to Home Page</a>
