<div class="main-center">

<div class="main-company-main">

  <div class="main-company">

    <h1>{{companyData.companyName}}</h1>

    {{!-- {{ #if companyData.imgSrc }}

    <img
      src=/public/uploads/{{ companyData.imgSrc }}
      alt="Company Logo"
      id="my-company-src"
    >

     {{ else }}

    <img
      src = '/public/uploads/no_image.png'
      alt="Company Logo"
      id="my-company-src"
    >

    {{ /if }} --}}

    <img
      src=/public/uploads/{{ companyData.imgSrc }}
      alt="Company Logo"
      id="my-company-src"
    >

    <div class="industry">Industry : {{companyData.industry}}</div>

    <div class="locations">
      Location : {{companyData.locations}}
    </div>

    <div class="numberOfEmployees">Number Of Employees :
      {{companyData.numberOfEmployees}}
    </div>

    <div class="description"> 
      Description : {{companyData.description}}
    </div>

    <div class="perks"> 
      Perks : {{companyData.perks}}
    </div>

    <div class="goals"> 
      Goals : {{companyData.goals}}
    </div>

    <div class="editCompanyDetails">
      <a href="/company/dataUpdate/{{companyData.companyName}}">Edit The Details
      </a>
    </div>

    <div class="createJobs">
      <a href="/company/job">Create Jobs</a>
    </div>

    <div class="viewJobs">
      <a href="/company/viewJob/{{companyData.companyName}}">View Jobs</a>
    </div>

    <div class="deleteCompany">
      <a href=/company/delete/{{companyData._id}}>Delete Company</a>
    </div>

  </div>

</div>
</div>

{{!-- TODO : TOTALLY, XSS, AND CLIENT SIDE, STATUS CODE --}}