<div class="main-jobs-main">

  

    <h1> {{companyName}} </h1>
    
    <span id="errorDisplay" > {{error}} </span>

    {{#each jobs}}

        <form action=/company/jobUpdate/{{{this._id}}} method="get">

            <div class="main-jobs">

                <div class="jobId">
                    Job Id : {{{ this._id }}}
                </div>
                <div class ="JobTitle">
                    Job Title : {{ this.jobTitle }}
                </div>

                <div class ="skills">
                    Skills : {{ this.skills }}
                </div>

                <div class ="salary">
                    Salary : {{ this.salary }}
                </div>

                <div class ="location">
                    Location : {{ this.location }}
                </div>

                <div class ="description">
                    Description : {{this.description }}
                </div>

            <input type="submit" value="Edit Details">

                <a href=/company/jobSingleDisplay/{{{this._id}}}> View Details </a>
                
                <a href=/company/jobDelete/{{{this._id}}}> Delete </a>

            </div>
            
        </form>
    
    {{/each}}

</div>

{{!-- TODO : TOTALLY, XSS, AND CLIENT SIDE, STATUS CODE --}}