<div class="main-jobs-main">

  

    <h1> {{companyName}} </h1>

    {{#each jobs}}
    <div class="main-jobs">

        {{ jobs }}
        <div id="JobTitle">
            Job Title : {{{ this.jobTitle }}}
        </div>

        <div id="skills">
            Skills : {{{ this.skills }}}
        </div>

        <div id="salary">
            Salary : {{{ this.salary }}}
        </div>

        <div id="location">
            Location : {{{ this.location }}}
        </div>

        <div id="description">
            Description : {{{ this.description }}}
        </div>

        <a href =/company/update/{{{ this._id }}}>Edit Details or Delete</a>
  </div>
    {{/each}}

</div>

{{!-- TODO : TOTALLY, XSS, AND CLIENT SIDE, STATUS CODE --}}