<div class="main-jobs-main">

  

    <h1> Recommendations </h1>
    
    <span id="errorDisplay" > {{error}} </span>

    {{#each jobs}}


            <div class="main-jobs">

                <div class="jobId">
                    Job Id : {{{ this._id }}}
                </div>
                <div id="JobTitle">
                    Job Title : {{{ this.jobTitle }}}
                </div>

                <div id="skills">
                    Skills : {{{ this.skills }}}
                </div>

                <div id="salary">
                    Salary : {{{ this.salary }}}
                </div>

                <div id="location">
                    Location : {{{ this.location }}}
                </div>

                <div id="description">
                    Description : {{{ this.description }}}
                </div>

            </div>
            
    
    {{/each}}

</div>

{{!-- TODO : TOTALLY, XSS, AND CLIENT SIDE, STATUS CODE --}}