<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/search/{{userId}}">Search Posts</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    {{#if identity}}
                    <li class="nav-item">
                        <form style="display: inline" action="/referral/post/{{userId}}/new" method="get">
                            <button class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    {{!-- --}}
    <br>
    {{!-- --}}
    <div class="card" style="width: 50%;">
        
    <form class="row g-3 needs-validation" method="post" id="create-refer">

      <span id="errorDisplay" > {{error}} </span>

      <div class="col-md-12">

        <label for="posttitle" class="posttitle">Post Title</label>
        <input type="text" class="form-control" id="posttitle" name="posttitle" value="{{posttitle}}">

      </div>
      
      <div class="col-md-12">
       <label for="postbody" class="postbody">Post Content</label>
        <textarea name="postbody" id="postbody" rows="5"
          placeholder="Write something here .... ">{{postbody}}</textarea>
      </div>

       <div class="col-md-12">

        <label for="duedate" class="duedate">Due Date</label>
        <input type="date" class="form-control" id="duedate" name="duedate" min="2023-01-01" max="2050-12-31">

      </div>

      <div class="col-md-12">

        <label for="field">Select field tag(s)</label>

        <select multiple id="field" name="field">

          <option value="front-end">front-end</option>
          <option value="back-end">back-end</option>
          <option value="full-stack">full-stack</option>
          <option value="cybersecurity">cybersecurity</option>
          <option value="ai">ai</option>
          <option value="software development">software development</option>
          <option value="finance quantitative analysis">finance quantitative analysis</option>
          <option value="data science">data science</option>
          <option value="medical">medical</option>
          <option value="biology">biology</option>
          <option value="chemistry">chemistry</option>
          <option value="law">law</option>
          <option value="business">business</option>
          <option value="engineering">engineering</option>
          <option value="art">art</option>
          <option value="music">music</option>
          <option value="others">others</option>
        </select>

      </div>

{{!-- Job --}}


      <div class="col-md-12">

        <label class="companyEmail">Contact Email</label>
        <input type="text" class="form-control" id="companyEmail" value="{{companyEmail}}" name="companyEmail" >

      </div>

      <div class="col-md-12">

        <label for="jobTitle" class="jobTitle" >Job Title</label>
        <input type="text" class="form-control" id="jobTitle" name="jobTitle" value="{{jobTitle}}">

      </div>

      <div class="col-md-12">

        <label for="salary" class="form-label" value={{salary}}>Salary (USD : Yearly)</label>
        <input type="number" class="form-control" id="salary" name="salary" >

      </div>

      <div class="col-md-12">

        <label for="level">Experience Level (single selection)</label>
        <select id="level" name="level">

          <option value="senior">Senior (More than 5+ years)</option>
          <option value="internship">Internship (1 year or less)</option>
          <option value="mid">Mid Level (1 to 5 years)</option>

        </select>

      </div>      

      <div class="col-md-12">

        <label for="jobType">Job Type (multiple selection)</label>
        <select multiple id="jobType" name="jobType">

          <option value="remote">Remote</option>
          <option value="online">Online</option>
          <option value="hybrid">Hybrid</option>

        </select>

      </div>

      <div class="col-md-12">

        <label for="skills">Skills Required (multiple selection)</label>
        <select multiple="multiple" id="skills" name="skills">

          <option value="Python">Python</option>
          <option value="C++">C++</option>
          <option value="JavaScript">JavaScript</option>
          <option value="NodeJS">NodeJS</option>
          <option value="React">React</option>
          <option value="DataScience">DataScience</option>
          <option value="Others">Others</option>

        </select>

      </div>

      <div class="col-md-12">

        <label for="location">Select the location (multiple selection)</label>

        <select multiple id="location" name="location">

          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>

        </select>

      </div>

      <div class="col-md-12">

        <label for="description">Job Description</label>
        <textarea name="description" id="description" rows="5"
          placeholder="Give A Brief Description About the Job .... ">{{description}}</textarea>

      </div>
      

      <div class="col-md-12">
        <button type="submit" class="btn btn-outline-info">Post the Refer</button>
      </div>

    </form>
    <div id="error">{{error}}</div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="/public/js/referral.js" type="module"></script>