<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/search/{{userId}}">Search Posts</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    {{#if identity}}
                    <li class="nav-item">
                        <form style="display: inline" action="/referral/post/{{userId}}/new" method="get">
                            <button class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <br>

    {{!--Posted Post --}}
    <div class="accordion" id="your-post">
        <div class="accordion-item">
            <p class="alert alert-primary fs-4 font-monospace text-center">
                Posted Post
            </p>
        </div>
        {{#if userPost.length}}
        {{#each userPost}}
    
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#{{_id}}"
                    aria-expanded="true" aria-controls={{_id}}>
                    Title: {{title}} <br >
                    Content: {{body}} <br >
                    Poster: {{poster.name}} <br >
                    Duedate: {{duedate}} <br >
                    Fields: {{fields}} <br >
                    Company: {{company}} <br >
                    Job title: {{jobs.jobTitle}}<br >
                    Required skills: {{jobs.skills}}<br >
                    Yearly salary ($): {{jobs.salary}}<br >
                    Location: {{jobs.location}}<br >
                    Job level: {{jobs.level}}<br >
                    Job type: {{jobs.jobType}}<br >
                    Job description: {{jobs.description}}<br >
                    PostDate: {{postdate}} <br >
                    {{#if modifieddate}}
                    Modified date: {{modifieddate}}<br >
                    {{/if}}
                </button>
            </h2>
            <div id="{{_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a class="link-dark">Comments: {{comments.length}}&nbsp; Likes: {{likes.length}}</a>&nbsp;
                    <form class="row g-3 needs-validation" action="/referral/post/{{../authorId}}" method="post">
                    <div class="col-md-12">
                        <input type="hidden" class="btn btn-outline-info" name='postid' value="{{_id}}">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-info">Like it</button>
                    </div>
                    </form>
                    {{!-- Check comments and leave comments --}}
                    <a class="btn btn-primary" target="_blank" href={{link}} role="button"
                        target="_blank">
                        Leave comments
                    </a>
                    <a class="btn btn-primary" target="_blank" href={{link}}
                    role="button">
                    See this post
                    </a>
                    <a class="btn btn-primary" target="_blank" href='/referral/post/{{poster.id}}'
                    role="button">
                    See author
                    </a>
                </div>
            </div>

        </div>
        {{/each}}
        {{/if}}
    </div>

    <br>

    {{!-- Liked Post --}}
    <div class="accordion" id="follower-post">
        <div class="accordion-item">
            <p class="alert alert-primary fs-4 font-monospace text-center">
                Liked Post
            </p>
        </div>
        {{#if userLike.length}}
        {{#each userLike}}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#{{_id}}"
                    aria-expanded="true" aria-controls="{{_id}}">
                    Title: {{title}} <br >
                    Content: {{body}} <br >
                    Poster: {{poster.name}} <br >
                    Duedate: {{duedate}} <br >
                    Fields: {{fields}} <br >
                    Company: {{company}} <br >
                    Job title: {{jobs.jobTitle}}<br >
                    Required skills: {{jobs.skills}}<br >
                    Yearly salary ($): {{jobs.salary}}<br >
                    Location: {{jobs.location}}<br >
                    Job level: {{jobs.level}}<br >
                    Job type: {{jobs.jobType}}<br >
                    Job description: {{jobs.description}}<br >
                    PostDate: {{postdate}} <br >
                    {{#if modifieddate}}
                    Modified date: {{modifieddate}}<br >
                    {{/if}}
                </button>
            </h2>
            <div id="{{_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a class="link-dark">Commits: {{comments.length}}&nbsp; Likes: {{likes.length}}</a>&nbsp;
                    <form class="row g-3 needs-validation" action='/referral/post/{{../authorId}}' method="post">
                    <div class="col-md-12">
                        <input type="hidden" class="btn btn-outline-info" name='postid' value="{{_id}}"/>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-info">Like it</button>
                    </div>
                    </form>
                    <a class="btn btn-primary" target="_blank" href={{link}}
                        role="button">
                        Leave comments
                    </a>
                    <a class="btn btn-primary" target="_blank" href={{link}}
                    role="button">
                    See this post
                    </a>
                    <a class="btn btn-primary" target="_blank" href='/referral/post/{{poster.id}}'
                    role="button">
                    See author
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>