<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/referral/search/{{userId}}">Search Posts</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    {{#if identity}}
                    <li class="nav-item">
                        <form style="display: inline" action="/referral/post/{{userId}}/new" method="get">
                            <button class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <br>
    {{!--Your Post --}}
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <div class="text-center">
                <h6 class="card-subtitle mb-2 badge bg-primary text-wrap fs-6">Post Content</h6>
            </div>
            <h5 class="card-title">Content: {{post.body}}</h5>
            <h5 class="card-title">Duedate: {{post.duedate}}</h5>
            <h5 class="card-title">Fields: {{post.fields}}</h5>
            <h5 class="card-title">Company: {{post.company}}</h5>
            <h5 class="card-title">Job title: {{post.jobs.jobTitle}}</h5>
            <h5 class="card-title">Required skills: {{post.jobs.skills}}</h5>
            <h5 class="card-title">Yearly salary ($): {{post.jobs.salary}}</h5>
            <h5 class="card-title">Location: {{post.jobs.location}}</h5>
            <h5 class="card-title">Job level: {{post.jobs.level}}</h5>jobType
            <h5 class="card-title">Job type: {{post.jobs.jobType}}</h5>
            <h5 class="card-title">Job description: {{post.jobs.description}}</h5>
            <h6 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">
                {{post.poster.name}}</h6>
            <h6 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">
            {{post.postdate}}</h6>
            {{#if post.modifieddate}}
            <h6 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">Modified date: 
            {{post.modifieddate}}</h6>
            {{/if}}
        </div>
        <form method="POST" id="network-post-update">
            <!-- Add a hidden input field with the _method attribute set to PATCH -->
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="the_token">
            <button type="submit" class="btn btn-link"
                onclick="if (!confirm('Are you sure?')) { return false }"><span>Delete</span></button>
        </form>
    </div>
</div>