<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/socialmediaposts/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/socialmediaposts/search/{{userId}}">Search Posts</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <form style="display: inline" action="/socialmediaposts/post/{{userId}}/new" method="get">
                            <button class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
<div class="card" style="width: 90%;">
        
    <form class="row g-3 needs-validation" method="post" id="search"> 

      <span id="errorDisplay" > {{error}} </span>

      

      <div class="col-md-12">

        <label for="field">Select field tag(s)</label>

        <select multiple id="field" name="field">

          <option value="front-end">front-end</option>
          <option value="back-end">back-end</option>
          <option value="full-stack">full-stack</option>
          <option value="cybersecurity">cybersecurity</option>
          <option value="ai">ai</option>
          <option value="software development">software development</option>
          <option value="finance quantitative analysis">finance quantitative analysis</option>
          <option value="data science">data science</option>
          <option value="medical">medical</option>
          <option value="biology">biology</option>
          <option value="chemistry">chemistry</option>
          <option value="law">law</option>
          <option value="business">business</option>
          <option value="engineering">engineering</option>
          <option value="art">art</option>
          <option value="music">music</option>
          <option value="others">others</option>
        </select>

      </div>
      <div class="col-md-12">

        <label for="category">Select category tag(s)</label>

        <select multiple id="category" name="category">

          <option value="interview">interview</option>
          <option value="daily thoughts">daily thoughts</option>
          <option value="making friends">making friends</option>
          <option value="housing">housing</option>
          <option value="asking for help">asking for help</option>
          <option value="others">others</option>
        </select>

      </div>
      <div class="col-md-12">

        <label for="company">Select company tag(s)</label>

        <select multiple id="company" name="company">
  
        {{#each companyList}}
          <option value="{{companyName}}">{{companyName}}</option>
        {{/each}}
        
        </select>

      </div>

      <div class="col-md-12">
        <button type="submit" class="btn btn-outline-info">Search</button>
      </div>

    </form>
    {{#if a}}
    <p>Here is the results for fields: {{fields}}, category: {{category}} and company: {{company}}</p>
    {{/if}}
    {{#if b}}
    <p>Here is the results for fields: {{fields}} and category: {{category}}</p>
    {{/if}}
    {{#if c}}
    <p>Here is the results for fields: {{fields}} and company: {{company}}</p>
    {{/if}}
    {{#if d}}
    <p>Here is the results for category: {{category}} and company: {{company}}</p>
    {{/if}}
    {{#if e}}
    <p>Here is the results for category: {{category}}</p>
    {{/if}}
    {{#if f}}
    <p>Here is the results for company: {{company}}</p>
    {{/if}}
    {{#if g}}
    <p>Here is the results for fields: {{fields}}</p>
    {{/if}}
    <div id="error">{{error}}</div>
        
    </div>
    {{!-- Post --}}
    <div class="accordion" id="your-post">
        <div class="accordion-item">
            <p class="alert alert-primary fs-4 font-monospace text-center">
                Search Post
            </p>
        </div>
        {{#if userPost.length}}
        {{#each userPost}}
    
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#{{_id}}"
                    aria-expanded="true" aria-controls={{_id}}>
                    Title: {{title}} <br >
                    Content: {{body}} <br >
                    Poster: {{poster.name}} <br >
                    Eventdate: {{eventdate}} <br >
                    Fields: {{fields}} <br >
                    Category:{{category}} <br >
                    Company: {{company}} <br >
                    PostDate: {{postdate}} <br >
                </button>
            </h2>

            <div id="{{_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a class="link-dark">Comments: {{comments.length}}&nbsp; Likes: {{likes.length}}</a>&nbsp;
                    <form class="row g-3 needs-validation" action="/socialmediaposts/post/{{../userId}}" method="post" target="_blank">
                    <div class="col-md-12">
                        <input type="hidden" class="btn btn-outline-info" name='postid' value="{{_id}}">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-info">Like it</button>
                    </div>
                    </form>
                    {{!-- Check comments and leave comments --}}
                    <a class="btn btn-primary" target="_blank" href={{link}} role="button">
                        Leave comments
                    </a>
                    <a class="btn btn-primary" target="_blank" href={{link}}
                    role="button">
                    See this post
                    </a>
                    <a class="btn btn-primary" target="_blank" href='/socialmediaposts/post/{{poster.id}}'
                    role="button">
                    See author
                    </a>
                </div>
            </div>

        </div>
        {{/each}}
        {{/if}}
    </div>

    <br>


</div>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="/public/js/socialPost.js" type="module"></script>