<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/socialmediaposts/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="/socialmediaposts/search/{{userId}}">Search Posts</a>
                        {{!--/network/post/{{id}}--}}
                    </li>
                    <li class="nav-item">
                        <form style="display: inline" action="/socialmediaposts/post/{{userId}}/new" method="get">
                            <button class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <div class="card" style="width: 50%;">
        <div class="card-body">
            <div class="text-center">
                <h2 class="card-subtitle mb-2 badge bg-primary text-wrap fs-6">Post Content</h2>
            </div>
            <h3 class="card-title">Content: {{post.body}}</h3>
            <h3 class="card-title">Eventdate: {{post.eventdate}}</h3>
            <h3 class="card-title">Fields: {{post.fields}}</h3>
            <h3 class="card-title">Category: {{post.category}}</h3>
            <h3 class="card-title">Company: {{post.company}}</h3>
            <h4 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">
                {{fname}}&nbsp;{{lname}}</h4>
            <h4 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">Posted date: 
            {{post.postdate}}</h4>
            {{#if post.modifieddate}}
            <h4 class="card-subtitle mb-3 text-body-secondary fst-italic text-decoration-underline">Modified date: 
            {{post.modifieddate}}</h4>
            {{/if}}
                               {{!-- Edit comments --}}
            {{#if auth}}
            <a class="btn btn-primary" href="{{post.link}}/edit" role="button"
                target="_blank">
                Edit this post
            </a>
            <a class="btn btn-primary" href="{{post.link}}/remove" role="button"
                target="_blank">
                Remove this post
            </a>
               <br>
                  <br>
            {{/if}}
            <div class="text-center">
                <h5 class="card-subtitle mb-2 badge bg-primary text-wrap fs-6">Comments</h5>
            </div>
            {{#if post.comments.length}}
            {{#each post.comments}}
            <p class="card-text mb-0 ">{{comments}}</p>
            <p class="text-body-secondary fst-italic text-decoration-underline">{{fname}}&nbsp;{{lname}} </p>
         
            {{/each}}
            {{/if}}


            {{!-- <div class="text-center">
                <h6 class="card-subtitle mb-2 badge bg-primary text-wrap fs-6">Likes</h6>
            </div>
            <p class="card-text text-center">{{post.likes.length}}</p> --}}
        </div>

        <form method="post" id="network-post-your-commit">
            <div class="form-floating">
                <label for="network-comments">
                </label>
                <textarea id="network-comments" class="form-control mb-2" rows="4" placeholder="Leave Your Comments"
                    style="height: 100px" name="comments">{{newComments}}</textarea>
                <div class="text-center">
                    <button class="network-post-button mb-3" type="submit">submit</button>
                </div>
            </div>
        </form>
        <div id="error"></div>
        {{error}}
    </div>
</div>