<h1 style="color: rgb(255, 255, 255); background-color: #d28200;">{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="/public/images/aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/network/post/{{userId}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Follower
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/network/follower/{{userId}}">Get & Remove Your
                                    Connections
                                    Info.</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/network/follower/{{userId}}/create">Create New
                                    Connections</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <form style="display: inline" action="/network/post/{{userId}}/new" method="get">
                            <button id="network-new-post-button" class="nav-link btn btn-outline-primary"
                                style="--bs-btn-padding-y: .01rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .4rem;">
                                Create New Post
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{!-- --}}
    <br>
    {{!-- --}}
    <div class="card" style="width: 50%;">
        <form id="network-post-create">
            <!-- Add a hidden input field with the _method attribute set to PATCH -->
            <p class="card-subtitle mb-2 badge text-wrap fs-6" style="width: 100%; background-color:#000FDB">Your Post
            </p>
            <div class="form-floating">
                <label for="post">
                </label>
                <input type="text" id="post" name="post" class="form-control" aria-label="Large" aria-describedby="post"
                    value="{{post}}">
                <br>
                <div class="text-center">
                    <button class="network-post-button mb-3" type="submit">submit</button>
                </div>
            </div>
        </form>

        <div id="error"></div>
        {{error}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
<script src="/public/js/ajax_networkNewPost.js"></script>