<h1>{{h1}}</h1>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="\public\images\aboutUs.png" alt="Logo" width="30" height="30"
                class="d-inline-block align-text-top">
            <a class="navbar-brand mb-0" href=""> &nbsp; Better Interview Book</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/network/post/{{id}}">Post</a>
                        {{!--/network/post/{{id}}--}}
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Follower
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Get Your Connections Info.</a></li>
                            {{!--
                            /network/follower/{{id}} --}}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">Create New Relation</a>
                                {{!--/network/follower/new/{{id}} --}}
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">Remove Your Relation</a>
                                {{!--
                                /network/follower/remove/{{id}} --}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <img src="https://cdn.pixabay.com/photo/2018/11/29/21/51/social-media-3846597_960_720.png" alt="Network Img"
        class="rounded float-start center-block" id="network-homepage-img">
</div>